*{
    margin: 0;
    padding: 0;
}


div{
    display: block;
    font-size: 14px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
}

img{
    border: 0;
}

a{
    text-decoration: none;
}


a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}





.hua-content-wrap{
    width: 1200px;
    margin: 0 auto 30px auto;
    position: relative;
    font-size: 0;
}


.hua-content-wrap  .hua-content{
    width: 1160px;
    /*display:none  */
    position: relative;
    padding: 20px;
    border: 1px solid #ebebeb;
    margin-top: 15px;

}

/*head*/


.hua-content-wrap  .hua-content   .head{
    width: 100%;
    height: 40px;
    line-height: 40px;
}



.hua-content-wrap  .hua-content .head .head-title{
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    color: #111;
    width: 500px;
    height: 40px;
    overflow: hidden;
} 



.hua-content-wrap  .hua-content   .head  .head-more{
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 23px;
    font-size: 14px;
    color: #9B9B9B;
    max-width: 450px;
    height: 100%;
    overflow: hidden;
}


/*box*/




.hua-content-wrap .hua-content  .box{
    margin-top: 15px;
}


.hua-content-wrap  .hua-content   .box  .box-left{
    display: inline-block;
    width: 270px;
    height: 360px;
    position: relative;
    overflow: hidden;
}


.hua-content-wrap  .hua-content  .box  .box-left   .box-left_bg{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #efefef;
}



.hua-content-wrap  .hua-content   .box  .box-left   .box-left_info{
    width: 250px;
    height: 84px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 17px 10px;
    background-color: rgba(0,0,0,.5);
}



.hua-content-wrap  .hua-content  .box  .box-left   .box-left_info  .title{
    height: 45px;
    font-size: 16px;
    color: #fff;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.hua-content-wrap  .hua-content   .box  .box-left   .box-left_info .details{
    margin-top: 12px;
    font-size: 20px;
    color: #fff;
}


.hua-content-wrap  .hua-content   .box  .box-left   .box-left_info  .details  span{
    font-size: 14px;
}






/*box-right*/


.hua-content-wrap  .hua-content  .box   .box-right{
    display: inline-block;
    width: 870px;
    margin-left: 20px;
    height: 360px;
    vertical-align: top;
    overflow: hidden;
}

.hua-content-wrap  .hua-content  .box   .box-right   .box-right_item{
    /* width: 273px; */
    height: 160px;
     /* display: block; */
    margin-right: 16px;
    display: inline-block;
    margin-bottom: 40px;
    color: #000;
    /* overflow: hidden; */
}

.hua-content-wrap  .hua-content  .box   .box-right   .box-right_item  .itemimg{
    width: 118px;
    height: 158px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    border: 1px solid #efefef;
}

.hua-content-wrap  .hua-content  .box   .box-right   .box-right_item  .itemimg  img{
width: 100%;
}

.hua-content-wrap  .hua-content .box   .box-right   .box-right_item   .iteminfo{
    width: 138px;
    height: 100%;
    position: relative;
    padding-left: 15px;
    display: inline-block;
    vertical-align: top;
}

.hua-content-wrap  .hua-content  .box   .box-right   .box-right_item   .iteminfo  .title{
    line-height: 20px;
    font-size: 14px;
    color: #4A4A4A;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.hua-content-wrap  .hua-content  .box   .box-right   .box-right_item   .iteminfo .venue{
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 12px;
    /* margin-top: 14px; */
    color: #9B9B9B;
    overflow: hidden;
    word-break: break-all;
}


.hua-content-wrap  .hua-content .box   .box-right   .box-right_item   .iteminfo  .showtime{
    margin-top: 7px;
}



.hua-content-wrap  .hua-content  .box   .box-right   .box-right_item   .iteminfo  .showtime{
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 12px;
    margin-top: 14px;
    color: #9B9B9B;
    overflow: hidden;
    word-break: break-all;
}



.hua-content-wrap  .hua-content  .box  .box-right  .box-right_item  .iteminfo .price{
    width: 138px;
    position: absolute;
    left: 15px;
    bottom: 0;
    font-size: 16px;
    color: #FF1268;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}








